<header>
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand main-nav-link" href="#">Movie Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav ml-auto justify-content-center">
        <form>
          <input class="search-input" type="text" placeholder="Search" aria-label="Search">
          <button class="search-button">
              <i class="fas fa-search search-icon"></i>
            </button>
        </form>
      </ul>
      <ul class="nav navbar-nav ml-auto justify-content-end">
        <li class="nav-item active mr-5">
          <a class="nav-link" href="#">Movies
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" href="#">Genres</a>
        </li>
        <li>
          <a class="btn btn-outline-primary mr-5" href="#">Login</a>
        </li>
        <li>
          <a class="btn btn-primary mr-5" href="#">Signup</a>
        </li>
      </ul>
    </div>

  </nav>
</header>
