@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
:root {
  --color-primary: #2ca2d2;
  --color-primary-light: #80c7e4;
  --color-primary-dark: #1a617e;
  --color-grey--light--1: #faf9f9;
  --color-grey--light--2: #f4f2f2;
  --color-grey--light--3: #f0eeee;
  --color-grey--light--4: #ccc;
  --color-grey--dark--1: #333;
  --color-grey--dark--2: #777;
  --color-grey--dark--3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --color-light-black: #222c34;
  --color-light-grey: #f4f4f4;
  --color-light-dark-black: #07131b;
  --color-white: #fff;
}

body {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)); */
  background-color: var(--color-light-black);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.search-input {
  background-color: var(--color-grey--light--2);
  border: none;
  border-radius: 2rem;
  width: 10rem;
  height: 2.2rem;
  /* margin-right: -8rem; */
  background: transparent;
  font-family: auto, 'FontAwesome';
}

.search-input:focus {
  outline: none;
  width: 12rem;
  background-color: var(--color-grey--light--2);
  transition: all .2s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-weight: 100;
  color: var(--color-grey--light--4);
  text-align: center;
}

.search-button {
  border: none;
  background: transparent;
}

.search-button:focus {
  outline: none;
  background-color: var(--color-grey--light--2);
}

.search-button:active {
  transform: translateY(2px);
}

.search-icon {
  color: var(--color-light-grey);
}

/* .navbar {
  position: absolute;
  top: 0;
  z-index: 10;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7)90%);
  width: 100%;
  min-height: 10rem;
  align-items: right;
  padding-top: 2rem;
} */

/* .navbar {
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9)100%);
  padding-top: 1rem;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
} */

.main-nav-link {
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.7rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  border-bottom: 2px solid var(--color-primary);
  color: #fff
}

.nav-link {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
  color: white;
  letter-spacing: 0.1rem;
}

.nav-link:hover,
.nav-link:active {
  border-bottom: 2px solid var(--color-primary);
  color: #fff
}

.carousel-item {
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.carousel-img {
  width: 100%;
  /* height: 52rem; */
  opacity: 0.8;
}

.carousel-inner {
  width: 100%;
  overflow: hidden;
}

.btn-primary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.btn-outline-primary {
  color: var(--color-primary);
  background-color: transparent;
  background-image: none;
  border-color: var(--color-primary);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  box-shadow: 0 0 0 0.2rem var(--color-primary);
}

.btn-outline-primary:not([disabled]):not(.disabled):active,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  -webkit-box-shadow: 0 0 0 0.2rem var(--color-primary);
  box-shadow: 0 0 0 0.2rem var(--color-primary);
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  /* right: 0; */
  width: 100%;
  padding: 2rem 3rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7)100%);
  color: var(--color-grey--light--1);
  overflow: hidden;
}

.title-container {
  float: left;
  font-weight: 400;
  font-size: 2rem;
}

.star-rating {
  font-size: 1.5rem;
  /* float: right; */
}

.fa-play-circle {
  color: var(--color-primary-light);
}

.dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu:visited,
.dropdown-item,
.dropdown-item:hover,
.dropdown-item:visited {
  /* color: var(--color-primary); */
  background-color: var(--color-light-black);
  color: var(--color-white);
}

.mini-movie-img {
  width: 80%;
  height: auto;
  border-radius: .5rem;
}

.feature-box {
  /* background-color: rgba(255,255,255,0.8); */
  font-size: 1rem;
  text-align: center;
  border-radius: .5rem;
  /* box-shadow: 0 1rem rem rgba(0,0,0,0.15); */
  /* box-shadow: 0 4px 2px -2px rgba(0,0,0,0.15); */
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  text-transform: uppercase;
}

/* .scale-div {
  transform: scale(.8);
} */

/* 
.u-margin-bottom-small {
  margin-bottom: 1rem !important;
} */

.heading-tertiary {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: .1rem;
  color: var(--color-grey--light--3);
}

.move-up {
  margin-top: -1rem;
}

.div-first-color {
  background-color: var(--color-light-dark-black);
}

.nav-tabs {
  border: none;
  margin: 0px;
}

.limheight {
  column-count: 2;
}

.limheight li {
  display: inline-block;
  /*necessary*/
}
