<ngb-carousel>

  <ng-template ngbSlide *ngFor="let movie of movies">
    <img src="{{movie.backdropUrl}}" class="carousel-img" alt="{{movie.title}}">
    <div class="bottom-bar">
      <div class="title-container container">
        <div class="row">
          <div class="col">
            <!-- <span class="fa fa-play-circle">
            </span> -->
            <span>{{movie.title}}</span>
            <br>
            <h6>{{movie.tagline}}</h6>
          </div>


        </div>

      </div>


    </div>

  </ng-template>

</ngb-carousel>

<div class="container-fluid">
  <div class="row move-up">
    <div class="col-sm" *ngFor="let m of movies2">
      <div class="feature-box main-img ">
        <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
        <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

      </div>

    </div>

  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm">
      <ngb-tabset>
        <ngb-tab title="IN THEATERS">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm" *ngFor="let m of movies2">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="COMING SOON">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm" *ngFor="let m of movies2">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="NEW TRAILERS">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm" *ngFor="let m of movies2">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="TOP RATED">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm" *ngFor="let m of movies2">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="MOST POPULAR">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-sm" *ngFor="let m of movies2">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

  </div>
</div>
