<ngb-carousel>
  <ng-template ngbSlide *ngFor="let movie of movies">
    <div class="container-FLUID">
      <img src="{{movie.backdropUrl}}" class="carousel-img img-fluid" alt="{{movie.title}}">

    </div>
    <div class="bottom-bar">
      <div class="title-container">
        <span>{{movie.title}}</span>
      </div>

    </div>

  </ng-template>

</ngb-carousel>

<div class="container-fluid div-first-color">
  <div class="row move-up">
    <div class="col-sm" *ngFor="let m of movies2">
      <div class="feature-box main-img ">
        <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
        <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

      </div>

    </div>

  </div>
</div>

<div class="container-fluid mt-5 div-second-color">
  <div class="row ">
    <div class="col-sm">
      <ngb-tabset #mtab="ngbTabset" [activeId]="mtab" (tabChange)="selectedTab($event)">
        <ngb-tab title="IN THEATERS" id="theatertab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-sm" *ngFor="let m of tabMovies">
                <div class="feature-box main-img">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="COMING SOON" id="comingSoontab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-sm" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="NEW TRAILERS" id="newTrailerstab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-sm" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="TOP RATED" id="topRatedtab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-sm" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="MOST POPULAR" id="populartab">
          <ng-template ngbTabContent>
            <div class="row mt-5">
              <div class="col-sm" *ngFor="let m of tabMovies">
                <div class="feature-box main-img ">
                  <img src="{{m.posterUrl}}" class="mini-movie-img" alt="{{m.title}}">
                  <h6 class="heading-tertiary u-margin-bottom-small">{{m.title}}</h6>

                </div>

              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>

  </div>
</div>
