<div class="container-fluid  bg-image" [style.backgroundImage]="'url('+ movie.backdropUrl +')'">

  <h1>

  </h1>
</div>


<!-- <div [style.background]="'linear-gradient(90deg, #FF0000 ' + 50 + '%, #00FF00 50%)'">
  <h2>Hello . This is working(Hex)</h2>
</div> -->

<!-- <div [style.background]="'linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url('+ photo +')'">
  <h2>Hello . This is working(Hex)</h2>
</div> -->

<!-- 

background:linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url(http://lorempixel.com/800/600/nature/2);

 -->
